
@{
    ViewBag.Title = "Create";
}

<h2>Bienvenido al Creates</h2>
<form action="Students/Create" method="post" >
    <label>ID</label>
    <input type="text" id="ID" name="ID"/>

    <label>LastName</label>
    <input type="text" id="LastName" name="LastName"/>

    <label>FirstMidName</label>
    <input type="text" id="FirstMidName" name="FirsrMidName"/>

    <label>EnrollmentDate</label>
    <input type="date"  id="EnrollmentDate" name="EnrollmentDate"/>

    <input type="submit" value="Create" />
</form>

